.about {
	width: 100%;
	height: 100%;
	background-color: aqua;
	position: fixed;
	top: 0;
	transform: translateY(100%);
	transition: 0.4s;
	transition-delay: 0.2s;
	display: flex;
	justify-content: center;
	color: white;
}
.notDisplay {
	transform: translateY(-100%);
}
.display {
	transform: translateY(0%);
	display: flex;
}
